$light-text: #fff;
$green: #00c263;

* {
	font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}

.logo {
	background-color: $green;
	padding: 40px 0;
}

.logo>header {
	color: $light-text;
}

.generate {
	padding-top: 40px;
}

#generated {
	margin-top: 40px;
	font-size: 1.75em;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

// corrects IE min-height bug
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

footer {
	padding: 10px 0;
	background-color: $green;
	color: $light-text;
}

footer p {
	margin: 0;
	padding: 0;
}
