$light-text: #fff;
$green: #00c263;

* {
	font-family: 'Raleway', sans-serif;

	::selection {
		background-color: $green;
		color: $light-text;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}

.logo {
	background-color: $green;
	padding: 40px 0;
}

.logo>header {
	color: $light-text;
}

.logo-img {
	width: 100px;
}

.generate {
	padding-top: 40px;
}

#generate-btn:focus {
	outline: none;
}

#generated {
	font-size: 1.75em;
	margin-top: 40px;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

// corrects IE min-height bug
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

footer {
	background-color: $green;
	color: $light-text;
	padding: 10px 0;

	p {
		margin: 0;
		padding: 0;
	}

	a,
	a:visited, {
		color: $light-text;
		text-decoration: none;
	}

	a:hover,
	a:active {
		color: $light-text;
		text-decoration: underline;
	}

}

.float-left {
	float: left;
}

.footer-img {
	width: 20px;
}
